body{
    background-color: #254d32;
  
}
.header{
    border-top: 5px solid #3a7d44;

}
p{
    color: #fff;
    font-size: 40px;
    text-align: left;
    font-style: poppins;
    float: left; 
    flex-direction: column;  
    justify-content: start;
    margin-left: 10px;
    display: flex;


}
.descricao {
    max-width: 60%; /* Controla a largura do texto */
    font-size: 65px;
    color: white; 
    margin-left: 50px;
    margin-top: 80px;
    display: flex;
    border: #3a7d44;
}
p a{
    background-color: #3a7d44;
    color:#ffffff;
    font-size: 60px;
    font-style: POPPINS;  
    border-radius: 30px;
    padding: 30px 40px;
    text-decoration: none;
    justify-content: right;
}

.carbono{
    display: flex; /* Para centralizar a imagem dentro do container */
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px; 
    max-width: 100%; /* Garante que a imagem não ultrapasse o container */
    height: auto;
    border-radius: 10px;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    gap: 20px; /* Espaçamento entre os elementos */
    margin-top: 50px;
}

.menu{
    position: fixed, center vertical, center horizontal;
    font-size: 60px;
    text-align: center;
    word-spacing: 60px;
    color: aliceblue;
   justify-content: center;
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%); /* Centraliza horizontalmente */
    font-style: poppins;
    font-weight: bold;
   
}

.container {
    display: flex;
    align-items: center;  /* Centraliza verticalmente */
    justify-content: space-between; /* Separa a logo e o menu */
    padding: 20px;
   
}

.logo img {
    height: 200px; 
    margin-left: 30px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap : 300px;
    row-gap: 300px;
    
}

.menu ul li {
    display: inline;
    
}

.menu ul li a {
    text-decoration: none;
    color: #c0e5c8;
    font-weight: bold;
}

.rodape{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #3a7d44;
    color: white;
    font-size: 40px;
    text-align: center;
}

.sobre{
    max-width: 30%; /* Controla a largura do texto */
    font-size: 100px;
    color: white; 
    margin-left: 500px;
    margin-top: 400px;
    display: flex;
    position: relative;
   
}
.nos{
    display: flex; 
    position: fixed;
    right: 0;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 20px; /* Espaçamento entre os elementos */
    margin-right: 500px;
    font-size: 60px;
    color: white; 
    top: 35%; 

}